# Senhas e tokens
**/*token*
**/*secret*
**/*password*
**/*credentials*
**/*auth*

# Browsers (cookies, senhas salvas)
google-chrome/
chromium/
firefox/
BraveSoftware/

# VSCode cache e logs
Code/DawnGraphiteCache/
Code/DawnWebGPUCache/
Code/GPUCache/
Code/logs/
Code/User/History/
Code/User/globalStorage/
Code/User/workspaceStorage/

# Keyrings
gnome-keyring/
kde-wallet/

# SSH
../ssh/

# Histórico de shell
../zsh_history
../bash_history

# Dados pessoais
pulse/
dconf/

# Caches
*/Cache/
*/cache/
*/.cache/
